:host {
  display: block;
}
.home-background{
  background: #C8A27C;
  min-height: 100%;
  padding: 0px;
}

.name-titulo{
  font-family: "Bell MT", serif;
  font-weight: bold;
  color: #4b2e1e;
}

.logo{
  height: 55px;
}