<div class="container mt-4 mb-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/" class="link-custom">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cafés</li>
        </ol>
    </nav>

    <h2 class="mb-4 text-center section-titulo mt-4">Cafés Naturales</h2>
    <div class="row mb-5 g-4 justify-content-center">
        <div class="col-md-3 col-sm-6" *ngFor="let cafe of cafesNaturales">
            <div class="card h-100 text-center shadow-sm product-card hover-lift">
                <img src="/Cafe-Natul.png" class="card-img-top p-3" alt="{{ cafe.nombre }}" style="max-height: 250px; object-fit: contain;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title fw-bold">{{ cafe.nombre }}</h5>
                    <p class="card-text text-muted flex-grow-1">{{ cafe.descripcion }}</p>
                    <p class="fw-bold fs-5 text-primary-custom">{{ cafe.precio | currency:'EUR':'symbol' }}</p>
                    
                    <div class="input-group mb-3 w-75 mx-auto">
                        <span class="input-group-text bg-white">Ud:</span>
                        <input type="number" class="form-control text-center" [(ngModel)]="cafe.cantidad" min="1" max="99">
                    </div>
                    
                    <button class="btn btn-btn-signup w-100 rounded-pill" (click)="comprar(cafe)">COMPRAR</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Otros Cafés -->
    <h2 class="mb-4 text-center section-titulo">Cafés Aromatizados</h2>
    <div class="row mb-5 g-4 justify-content-center">
        <div class="col-md-3 col-sm-6" *ngFor="let cafe of cafesAromatizados">
            <div class="card h-100 text-center shadow-sm product-card hover-lift">
                <img src="/cafe-Aromatizado.png" class="card-img-top p-3" alt="{{ cafe.nombre }}" style="max-height: 250px; object-fit: contain;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title fw-bold">{{ cafe.nombre }}</h5>
                    <p class="card-text text-muted flex-grow-1">{{ cafe.descripcion }}</p>
                    <p class="fw-bold fs-5 text-primary-custom">{{ cafe.precio | currency:'EUR':'symbol' }}</p>
                    <div class="input-group mb-3 w-75 mx-auto">
                        <span class="input-group-text bg-white">Ud:</span><input type="number" class="form-control text-center" [(ngModel)]="cafe.cantidad" min="1">
                    </div>
                    <button class="btn btn-btn-signup w-100 rounded-pill" (click)="comprar(cafe)">COMPRAR</button>
                </div>
            </div>
        </div>
    </div>
</div>
